{
  "_comment": "Store under {{ analytics_export_credentials_file }}",
  "host": "{{ ANALYTICS_MYSQL_HOST }}",
  "port": "{{ ANALYTICS_MYSQL_PORT }}",
  "username": "{{ ANALYTICS_MYSQL_USER }}",
  "password": "{{ ANALYTICS_MYSQL_PASSWORD }}"
}

