{
  "_comment": "Store under {{ analytics_import_credentials_file }}",
  "host": "{{ EDXAPP_MYSQL_HOST }}",
  "port": "{{ EDXAPP_MYSQL_PORT }}",
  "username": "{{ EDXAPP_MYSQL_READ_ONLY_USER }}",
  "password": "{{ EDXAPP_MYSQL_READ_ONLY_PASSWORD }}"
}
