export HOME="{{ jenkins_home }}"
export WORKON_HOME=$HOME/venvs
export VIRTUALENVWRAPPER_HOOK_DIR=$HOME/venvs
export PIP_VIRTUALENV_BASE=$HOME/venvs
export EXTRA_VARS="@$HOME/emr-vars.yml"
export WORKSPACE=$HOME/workspace
export CLUSTER_NAME="{{ emr_cluster_name }}"
export START_DATE="{{ analytics_interval_start }}"
export AWS_REGION="{{ emr_region }}"
export KEYPAIR_NAME="{{ emr_keypair_name }}"
export VPC_SUBNET_ID="{{ emr_vpc_subnet_id }}"
export EMR_RELEASE_LABEL="{{ emr_release_label }}"
export S3_ENDPOINT="{{ emr_s3_endpoint }}"
export TASKS_REPO="{{ analytics_pipeline_repo }}"
export TASKS_BRANCH="{{ analytics_pipeline_version }}"
export TASK_USER=hadoop
export OVERRIDE_CONFIG=$HOME/analytics-override.cfg
export TERMINATE=true
export NUM_REDUCE_TASKS=2
export VIRTUALENV_EXTRA_ARGS='--system-site-packages'
export TRACKING_LOGS_S3_BUCKET="{{ analytics_tracking_log_storage_url }}"
export HADOOP_S3_BUCKET="{{ analytics_hadoop_storage_url }}"
export TASK_CONFIGURATION_S3_BUCKET="{{ analytics_config_storage_url }}"
export EDXAPP_S3_BUCKET="{{ analytics_edxapp_storage_url }}"
